@import "../../../../shared/application/theme/colors.scss";
@import "../../../../shared/application/theme/mixins";
@import "../../../../shared/application/theme/animations.scss";


.admin-layout{
  display: flex;
  width: 100%;

  >.container{
    width: 100%;
  }
}